.aboutus-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    background: url("https://img.goodfon.com/original/1920x1200/a/c1/ship-crane-cargo-shipyard.jpg");
    
    .aboutus-container-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin: 80px 0;
        padding: 40px 40px;
        background-color: white;
        .aboutus-title{
            padding-bottom: 10px;
            h2{
                font-weight: 700;
            }
        }
        .aboutus-description{

            p{
                text-align: justify;
            }
        }
    }
}